{%extends "base.html"%}
{%block content%}


    <a href="{% url "function" %}"><button> Back </button></a>
    <form action="{% url "old" %}" method="GET">
        {%csrf_token%}
        <label>
            <p class="Fonted">Input your birthyear and a provided year to find out your age in that year</p>
            <p>Birthyear:</p>
            <input type="number" name="birth_year">
            <p>Provided Year:</P>
            <input type="number" name="age_year">
        </label>
        <button>Submit </button>
    <form>
    {% if answer is not None%}
    <div >
    <p>Being born in {{birth_year}} your age in {{age_year}} is:</p>
    <p>{{answer}}</p>
    {% endif %}

{%endblock content%}