{% extends "base.html"%}
{% block content %}
<a href="{% url "function" %}"><button> Back </button></a>
<div>
    <form action="{% url "order" %}" method="GET">
        {% csrf_token %}
        <label>
            <input type="number" name="Burger" placeholder="Burgers">
            <input type="number" name="Fries" placeholder="Fries">
            <input type="number" name="Drink" placeholder="Drinks">
        </label>
        <br>
        <button>Place Order</button>
    </form>
    <p>total:</p>
    {% if total is not None%}
    ${{total}}
    {% endif %}
</div>
{% endblock content %}